 #mainNav {
    border-color: transparent;

}
    .navbar-light .navbar-toggler {
        color: rgb(255, 255, 255);
        border-color: rgba(0,0,0,.1);
    }

@media (max-width: 768px){
  
.navbar-light .navbar-toggler {
    color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,0.1);
}
}

header.masthead{
    height: 100%;
}
.navbar-light .navbar-toggler
{
    color: rgba(14, 13, 13, 0.6);
    border-color: rgba(255,255,255,0.1);
}
